In [1]:
!pip install CFEDemands

Requirement already satisfied: CFEDemands in /Users/chan/anaconda3/lib/python3.7/site-packages (0.1.6.3)
You are using pip version 19.0.3, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [28]:
import cfe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [13]:
#ONLY RUN ONCE 

os.chdir('../data/')
os.getcwd()

'/Users/chan/bMailDrive/Academics/2019 Spring/EEP 153/proj4 - Holbrook Working/data'

In [15]:
!ls

11100125.csv                        Icon?
Food Items and NDB Databasae.gsheet final_data_from_chans_last_project

In [16]:
data = pd.read_csv("11100125.csv")
data.head()

,REF_DATE,GEO,DGUID,Statistic,"Food expenditures, summary-level categories",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2010,Canada,2016A000011124,Average expenditure per household,Food expenditures,Dollars,81,units,0,v54531258,1.1.1,7850.0,NaN,NaN,NaN,0
1,2010,Canada,2016A000011124,Average expenditure per household,Food purchased from stores,Dollars,81,units,0,v54531259,1.1.2,5709.0,NaN,NaN,NaN,0
2,2010,Canada,2016A000011124,Average expenditure per household,Bakery products,Dollars,81,units,0,v54531260,1.1.3,581.0,NaN,NaN,NaN,0
3,2010,Canada,2016A000011124,Average expenditure per household,Bread and unsweetened rolls and buns,Dollars,81,units,0,v54531261,1.1.4,273.0,NaN,NaN,NaN,0
4,2010,Canada,2016A000011124,Average expenditure per household,Bread,Dollars,81,units,0,v64481413,1.1.180,207.0,NaN,NaN,NaN,0

In [19]:
data_old = pd.read_csv("chans_last_project/final_data_from_chans_last_project.csv")
data_old.head()

,id,age,net_income,highest_education,profession,hispanic,weekly_hours_worked,in_college,is_married,self_employed,...,othmeat_percent,pet_food_percent,pork_percent,procfruit_percent,proc_veg_percent,seafood_percent,sweets_percent,smoking_percent,state,vehicle
0,360889,27,89097.0,Associate’s degree in college,Paid employee of a PRIVATE company,No,40.0,Not at all,Never married,No,...,0.000000,0.005708,0.000000,0.000753,0.000595,0.0,0.000000,0.000000,NaN,2.0
1,360890,53,26000.0,High school graduate,Paid employee of a PRIVATE company,No,40.0,Not at all,Divorced,No,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,Nebraska,1.0
2,360892,56,35000.0,Bachelor’s degree,Paid employee of a PRIVATE company,No,55.0,Not at all,Divorced,No,...,0.000000,0.000000,0.000000,0.000000,0.003997,0.0,0.001716,0.002570,Kansas,1.0
3,360893,34,95500.0,Bachelor’s degree,Self-employed,No,24.0,Not at all,Married,Yes,...,0.002712,0.003534,0.000814,0.006136,0.005833,0.0,0.001859,0.003279,NaN,3.0
4,360895,64,36400.4,High school graduate,Paid employee of a PRIVATE company,Yes,20.0,Not at all,Married,No,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,California,NaN

# Creating food conversion table

In [31]:
os.chdir('..')
!pip install -r requirements.txt

Requirement already satisfied: Pint>=0.8.1 in /Users/chan/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (0.9)
Requirement already satisfied: numpy>=1.15.0 in /Users/chan/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 6)) (1.15.4)
Requirement already satisfied: pandas>=0.23.3 in /Users/chan/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 11)) (0.23.4)
Requirement already satisfied: requests>=2.20.0 in /Users/chan/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 15)) (2.21.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/chan/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 18)) (1.1.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/chan/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2.7.5)
Requirement already satisfied: pytz>=2011k in /Users/chan/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2018.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/chan/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/chan/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/chan/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/chan/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (2.8)
Requirement already satisfied: six>=1.5 in /Users/chan/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.23.3->-r requirements.txt (line 11)) (1.12.0)

In [8]:
from __future__ import print_function

import re
import warnings

import ipywidgets as widgets
import numpy as np
import pandas as pd
import pulp
from ipywidgets import fixed, interact, interact_manual, interactive

import pulp
import ndb

ModuleNotFoundError: No module named 'tasklets'

In [24]:
user = "chanvarma"
API_KEY = {'chanvarma' : "5JMzm847yqDvz6OnGzaC5mnWV1kOLbaE80fPs3WR"}

In [26]:
report = ndb.ndb_report(API_KEY[user], NDB)

NameError: name 'ndb' is not defined